[Unit]
Description=Plutonia SearXNG
After=network.target

[Service]
Type=simple
User=python
Group=python
WorkingDirectory=/home/python/demos/plutonia_v3/searxng/src
Environment=PLUTONIA_ROOT=/home/python/demos/plutonia_v3
Environment=SEARXNG_SETTINGS_PATH=/home/python/demos/plutonia_v3/searxng/settings.yml
EnvironmentFile=/home/python/demos/plutonia_v3/.env
ExecStart=/home/python/demos/plutonia_v3/searxng/.venv/bin/python -m searx.webapp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
